@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  height: 100%;
  color: #fff;
  background: $bg-linear;
  color: #eff3fb;

  font-family: "Roboto Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#app {
  height: 100%;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}
